<div class="container">
  <div *ngFor="let t of tasks; let i = index;">
    <mat-card class="card" color="primary">
      <mat-card-title>
        Task {{t.task_id}}
      </mat-card-title>
      <mat-card-content>
        <p>
          {{t.task_text}}
        </p>
        <div *ngIf="tasks[i].completed">
          <button mat-raised-button color="primary" disabled>
            Complete
          </button>
        </div>
        <div *ngIf="!tasks[i].completed">
          <button mat-raised-button color="primary" (click)="SetTaskComplete(i)">
            Set Complete
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

