<div class="menu">
  <p class="title">
    Menu
  </p>
  <div class="divider"></div>
  <!-- <p class="title">
    Display
  </p>
  <button mat-raised-button (click)="ChangeView(true)" disabled>
    Active
  </button>
  <button mat-raised-button (click)="ChangeView(false)" disabled>
    Complete
  </button>
  <button mat-raised-button disabled>
    All
  </button>
  <div class="divider"></div> 
  <p class="title">
    Create
  </p>-->
  <button mat-raised-button (click)="openDialog()">
    New Task
  </button>
</div>

